spring:
  application:
    name: wordsmith
  cache:
    type: redis
    redis:
      time-to-live: ${REDIS_TTL:900}
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/blog}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update

server:
  port: 8080
  shutdown: graceful

jwt:
  secret: ${JWT_SECRET:5f522470b1ac342ef2be1b75b675ec4afc3c517b16d74a17efb8420beba944cd}
  expiration: ${JWT_EXPIRATION:900000}

api:
  version: v1.0
  description: WordSmith API to manage posts, comments and categories for blog site.